@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<Employee>
@inject IViewLocalizer Localizer 

@{
    ViewBag.Title = Localizer["listOfEmployees"];
    Layout = "_Layout";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">&nbsp;@Localizer["listOfEmployees"]</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Employee" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-person-plus"></i>&nbsp;@Localizer["addNewEmployee"]
            </a>
        </div>
    </div>
    <br/>

    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
        <tr>
            <th>
                <a asp-controller="Employee" asp-action="SortByName" class="btn btn-primary">
                    @Localizer["firstName"]
                </a>
            </th>
            <th>
                <a asp-controller="Employee" asp-action="SortByNameLastName" class="btn btn-primary">
                    @Localizer["lastName"]
                </a>
            </th>
            <th>
                <a asp-controller="Employee" asp-action="SortByPost" class="btn btn-primary">
                    @Localizer["post"]
                </a>
            </th>
            <th>
                <a asp-controller="Employee" asp-action="SortByDate" class="btn btn-primary">
                    @Localizer["date"]
                </a>
            </th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @obj.FirstName
                </td>
                <td>
                    @obj.LastName
                </td>
                <td>
                    @obj.Post
                </td>
                <td>
                    @obj.Date
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-1">
                            <i class="bi bi-pencil-square"></i>&nbsp;@Localizer["edit"]
                        </a>
                        <a asp-controller="Employee" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-1">
                            <i class="bi bi-person-x-fill"></i>&nbsp;@Localizer["delete"]
                        </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>